@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Burned&display=swap');

body {
    margin: 0;
    font-family: "Roboto Mono", Helvetica, sans-serif;
}

header {
    background-color: #001953;
    color: #b7b8b3;
    padding: 10px 20px;
    font-family: "Rubik Burned", Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center; /* Vertically center header content */
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

header #logo_link {
    text-decoration: none;
}

header .logo {
    width: 100px;
    height: auto;
    border-radius: 50%; /* 50% Gives a circular shape */
    margin: 20px; /* Combined margin-bottom and margin-top */
    justify-self: center;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    color: #fcf4d8;
}

header nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #001953;
    color: #F4F4F9;
    padding-bottom: 50px;
    padding-top: 40px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #F4F4F9;
    text-decoration: none;
    margin-left: 20px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
body {
    background-color: #fcf4d8;
}

/* #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
} */

#hero-img {
    width: 100%;
    z-index: -1;
}

/* #hero-message {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 100px;
    color: #fcf4d8;
    font-family: "Rubik Burned", Helvetica, sans-serif;
} */

#hero-message {
    position: absolute; /* Position the message absolutely within the hero */
    top: 50%; /* Move the top of the message to the vertical center of the hero */
    left: 50%; /* Move the left side of the message to the horizontal center of the hero */
    transform: translate(-50%, -50%); /* Translate the message back by half of its own width and height */
    color: #fcf4d8;
    font-family: "Rubik Burned", Helvetica, sans-serif;
    text-align: center; /* Center-align the text */
    font-size: 3em;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    justify-content: center;
}

#headline-container {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
    font-style: italic;
}

#sturgeon {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 20px;
    padding: 10px;
    border: 5px solid black;
}

#sturgeon-home {
    width: 100%;
    height: 100%;
    transition: transform .5s;
}

#sturgeon-home:hover {
    transform: scale(1.03);
  }

#trout {
    grid-column: 3/5;
    grid-row: 2/3;
    margin: 20px;
    padding: 7px;
    border: 5px solid black;
}

#trout-home {
    width: 100%;
    transition: transform .5s;
}

#trout-home:hover {
    transform: scale(1.01);
  }

#salmon {
    grid-column: 2/5;
    grid-row: 3/4;
    margin: 20px;
    border: 5px solid black;
    padding: 7px;

}

#salmon-home {
    width: 100%;
    transition: transform .5s;
    object-fit: cover;
    height: 600px;
}

#salmon-home:hover {
    transform: scale(1.005);
}

#fish-message {
    grid-column: 1/6;
    text-align: center;
    margin-top: 2%;
    grid-row: 5/6;
    background-color: #b7b8b3;
    /* background-color: #fcf4d8; */
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
}

#fish-message p {
    margin: 2%;
}

.paragraph-spacer {
    grid-column: 1/4;
    height: 20px;
}


#species-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    padding: 1em;
  }

#sturgeon-card {
    grid-column: 1/2;
    grid-row: 1;
    width: 80%;
    margin: 50px auto;
}

#trout-card {
    grid-column: 2/3;
    grid-row: 1;
    width: 80%;
    margin: 50px auto;
}

#salmon-card {
    grid-column: 1/3;
    grid-row: 2;
    width: 95%;
    margin: 50px auto;
}

.scientific {
    font-style: italic;
    font-size: 1.2em;
}

#sockeye-img {
    width: 75%
}